<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="io.github.droidkaigi.confsched2017"
        >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- required for MapView v2 -->
    <permission
        android:name="io.github.droidkaigi.confsched2017.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="io.github.droidkaigi.confsched2017.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:configChanges="locale"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.ColoredStatusBar"
            android:networkSecurityConfig="@xml/network_security_config"
            >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
                android:name=".view.activity.MainActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:launchMode="singleTask"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
                android:name=".view.activity.SessionDetailActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:exported="false"
                android:label="@string/session_detail"
                android:parentActivityName=".view.activity.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"
                />

        <activity
                android:name=".view.activity.SponsorsActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:exported="false"
                android:label="@string/sponsors"
                android:theme="@style/AppTheme.ColoredStatusBar"
                />

        <activity
                android:name=".view.activity.ContributorsActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:exported="false"
                android:label="@string/sponsors"
                android:theme="@style/AppTheme.ColoredStatusBar"
                />

        <activity
                android:name=".view.activity.SessionFeedbackActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:exported="false"
                android:label="@string/session_feedback"
                android:theme="@style/AppTheme.ColoredStatusBar"
                />

        <activity
                android:name=".view.activity.SearchActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:exported="false"
                android:label="@string/search"
                android:theme="@style/AppTheme.Translucent"
                />

        <activity android:name=".view.activity.LicensesActivity"
                  android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:exported="false"
                  android:label="@string/licenses"
                  android:theme="@style/AppTheme.ColoredStatusBar"
                  />

        <receiver
                android:name=".receiver.NotificationReceiver"
                android:exported="false"
                />
    </application>

</manifest>
